* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

@font-face {
  font-family: cherryBombOne;
  src: url(./fonts/CherryBombOne-Regular.ttf);
}

body {
  min-height: 100vh;
  height: 600px;
  width: 100%;
  padding: 10px;
  background-color: rgb(35, 46, 68);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

h1 {
  height: 10%;
}

img {
  display: block;
  height: 100%;
  width: 100%;
}

main {
  height: 90%;
  width: 80%;
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 10%;
}

main > div {
  height: 33%;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

main > div:hover {
  border: 1px solid rgb(56 48 181);
  transition-duration: 1s;
}

main > div.selected {
  border: 1px solid rgb(181, 48, 70);
}

main > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

main > div > div > img {
  height: 80%;
  width: 80%;
}

.start-game {
  border: none;
}

dialog {
  display: block;
  margin: auto;
  opacity: 0;
  scale: 0;
  transition-duration: 1s;

  height: 500px;
  width: 400px;
  min-width: fit-content;
}

dialog[open] {
  opacity: 1;
  scale: 1;
  transition-duration: 1s;

  border: 1px solid rgb(0, 0, 0);
  border-radius: 16px;
  background-color: rgb(35, 46, 68);
  padding: 10px;
  font-family: cherryBombOne;
  font-size: 36px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

dialog[open] > div {
  width: 100%;
}

dialog:focus-visible {
  outline: none;
}

dialog::backdrop {
  opacity: 0.9;
  background-color: rgb(5, 13, 20);
}

#board-container {
  height: 75%;
  border: none;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

#board-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

#board-container > div.right {
  border-right: 1px solid rgb(0, 0, 0);
}

#board-container > div.bottom {
  border-bottom: 1px solid rgb(0, 0, 0);
}

#board-container > div:active {
  background-color: rgb(28, 28, 95);
}

#ui-container {
  height: 25%;
  font-size: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#ui-container > div {
  width: 50%;
}

#ui-container > #buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

#ui-container button {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(6 6 46);
  font-size: larger;
  background-color: rgb(28, 28, 95);
  outline: none;
}

#ui-container button:active {
  background-color: rgb(23, 23, 128);
}
